PORT=9000
NODE_ENV=development
LOG_LEVEL=info

# Database Connection
DATABASE_URL=postgres://avnadmin:AVNS_7ISsE2Ji3eIj02kkjVO@tester-redis-nsp.l.aivencloud.com:20113/defaultdb?sslmode=require

# Authentication (Better Auth)
BETTER_AUTH_SECRET=your_32_char_secret_key_here
BETTER_AUTH_URL=http://localhost:9000
NEXT_PUBLIC_BETTER_AUTH_URL=http://localhost:9000

# Cloudflare R2 S3 Credentials
CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=
CLOUDFLARE_R2_BUCKET_NAME=theclosedtest
CLOUDFLARE_R2_PUBLIC_URL=https://theclosedtest.neerajlovecyber.com
CLOUDFLARE_R2_ACCOUNT_ID=

# Expo Push Notifications
EXPO_ACCESS_TOKEN=